<p style="font-family: Arial; font-size:3em;color:black;"> Session 5 - Lab Exercise 9</p>

In [55]:
# For this example, we will use K-Means Clustering Project database from Kaggle (https://www.kaggle.com/faressayah/k-means-clustering-private-vs-public-universities)
# We actually have the labels for this data set, but we will NOT use them for the KMeans clustering algorithm, since that is an unsupervised learning algorithm.
# As we will shortly see, we have a data frame with 777 observations on 18 variables.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [56]:
df = pd.read_csv('College_Data',index_col=0)
df.columns

Index(['Private', 'Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
       'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books',
       'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend',
       'Grad.Rate'],
      dtype='object')

In [57]:
df['Grad.Rate']['Cazenovia College'] = 100

# Try removing various columns (features) from the dataset and examin if it improves/degrades your K-Means model performance, or it may have little impact.
# Report 10 cases where you removed one or more features and indicate how it impacted the model performance.

C:\Users\chunl\AppData\Local\Temp\ipykernel_39056\3450590736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Grad.Rate']['Cazenovia College'] = 100

In [58]:
df.head()

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [59]:
df.describe()

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
count,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000
mean,3001.638353,2018.804376,779.972973,27.558559,55.796654,3699.907336,855.298584,10440.669241,4357.526384,549.380952,1340.642214,72.660232,79.702703,14.089704,22.743887,9660.171171,65.440154
std,3870.201484,2451.113971,929.176190,17.640364,19.804778,4850.420531,1522.431887,4023.016484,1096.696416,165.105360,677.071454,16.328155,14.722359,3.958349,12.391801,5221.768440,17.118804
min,81.000000,72.000000,35.000000,1.000000,9.000000,139.000000,1.000000,2340.000000,1780.000000,96.000000,250.000000,8.000000,24.000000,2.500000,0.000000,3186.000000,10.000000
25%,776.000000,604.000000,242.000000,15.000000,41.000000,992.000000,95.000000,7320.000000,3597.000000,470.000000,850.000000,62.000000,71.000000,11.500000,13.000000,6751.000000,53.000000
50%,1558.000000,1110.000000,434.000000,23.000000,54.000000,1707.000000,353.000000,9990.000000,4200.000000,500.000000,1200.000000,75.000000,82.000000,13.600000,21.000000,8377.000000,65.000000
75%,3624.000000,2424.000000,902.000000,35.000000,69.000000,4005.000000,967.000000,12925.000000,5050.000000,600.000000,1700.000000,85.000000,92.000000,16.500000,31.000000,10830.000000,78.000000
max,48094.000000,26330.000000,6392.000000,96.000000,100.000000,31643.000000,21836.000000,21700.000000,8124.000000,2340.000000,6800.000000,103.000000,100.000000,39.800000,64.000000,56233.000000,100.000000

In [60]:
for column in df:
    unique_vals = np.unique(df[column])
    nr_values = len(unique_vals)
    if nr_values < 10:
        print('The number of values for feature {} :{} -- {}'.format(column, nr_values,unique_vals))
    else:
        print('The number of values for feature {} :{}'.format(column, nr_values))

The number of values for feature Private :2 -- ['No' 'Yes']
The number of values for feature Apps :711
The number of values for feature Accept :693
The number of values for feature Enroll :581
The number of values for feature Top10perc :82
The number of values for feature Top25perc :89
The number of values for feature F.Undergrad :714
The number of values for feature P.Undergrad :566
The number of values for feature Outstate :640
The number of values for feature Room.Board :553
The number of values for feature Books :122
The number of values for feature Personal :294
The number of values for feature PhD :78
The number of values for feature Terminal :65
The number of values for feature S.F.Ratio :173
The number of values for feature perc.alumni :61
The number of values for feature Expend :744
The number of values for feature Grad.Rate :80

In [61]:
X= df[['Private', 'Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
       'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books',
       'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend',
       'Grad.Rate']]

In [62]:
df['Private'] = df.Private.astype("category").cat.codes
df

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Abilene Christian University,1,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
Adelphi University,1,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
Adrian College,1,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
Agnes Scott College,1,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
Alaska Pacific University,1,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Worcester State College,0,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
Xavier University,1,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
Xavier University of Louisiana,1,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
Yale University,1,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
York College of Pennsylvania,1,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [83]:
X_train = df.drop(columns=["Private"])
y = df[["Private"]]
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2 )
kmeans = kmeans.fit(X_train)
predictions = kmeans.predict(X_train)
predictions

c:\Users\chunl\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0])

In [84]:
from sklearn.metrics import accuracy_score
ac = accuracy_score(y,predictions)
print(ac)

0.22136422136422138

In [85]:
X_train

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Abilene Christian University,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
Adelphi University,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
Adrian College,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
Agnes Scott College,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
Alaska Pacific University,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Worcester State College,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
Xavier University,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
Xavier University of Louisiana,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
Yale University,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
York College of Pennsylvania,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [103]:
X_train2 = X_train.drop(columns=['Apps'])
kmeans = kmeans.fit(X_train2)
predictions = kmeans.predict(X_train2)
ac2 = accuracy_score(y,predictions)
print(ac2)

0.46074646074646075

c:\Users\chunl\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [106]:
X_train3 = X_train2.drop(columns=['Accept'])
X_train3

,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Abilene Christian University,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
Adelphi University,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
Adrian College,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
Agnes Scott College,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
Alaska Pacific University,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Worcester State College,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
Xavier University,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
Xavier University of Louisiana,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
Yale University,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
York College of Pennsylvania,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [107]:

kmeans = kmeans.fit(X_train3)
predictions = kmeans.predict(X_train3)
ac3 = accuracy_score(y,predictions)
print(ac3)

0.462033462033462

c:\Users\chunl\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [112]:
X_train4 = X_train3.drop(columns=['Top10perc'])
X_train4

,Enroll,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Abilene Christian University,721,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
Adelphi University,512,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
Adrian College,336,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
Agnes Scott College,137,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
Alaska Pacific University,55,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Worcester State College,543,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
Xavier University,695,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
Xavier University of Louisiana,695,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
Yale University,1317,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
York College of Pennsylvania,691,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [113]:
kmeans = kmeans.fit(X_train4)
predictions = kmeans.predict(X_train4)
ac4 = accuracy_score(y,predictions)
print(ac4)

0.5379665379665379

c:\Users\chunl\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [118]:
X_train5 = X_train4.drop(columns=['Books'])
X_train5

,Enroll,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Abilene Christian University,721,52,2885,537,7440,3300,2200,70,78,18.1,12,7041,60
Adelphi University,512,29,2683,1227,12280,6450,1500,29,30,12.2,16,10527,56
Adrian College,336,50,1036,99,11250,3750,1165,53,66,12.9,30,8735,54
Agnes Scott College,137,89,510,63,12960,5450,875,92,97,7.7,37,19016,59
Alaska Pacific University,55,44,249,869,7560,4120,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Worcester State College,543,26,3089,2029,6797,3900,1200,60,60,21.0,14,4469,40
Xavier University,695,47,2849,1107,11520,4960,1250,73,75,13.3,31,9189,83
Xavier University of Louisiana,695,61,2793,166,6900,4200,781,67,75,14.4,20,8323,49
Yale University,1317,99,5217,83,19840,6510,2115,96,96,5.8,49,40386,99
York College of Pennsylvania,691,63,2988,1726,4990,3560,1250,75,75,18.1,28,4509,99

In [119]:
kmeans = kmeans.fit(X_train5)
predictions = kmeans.predict(X_train5)
ac5 = accuracy_score(y,predictions)
print(ac5)

0.5379665379665379

c:\Users\chunl\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [132]:
X_train6 = X_train5.drop(columns=['perc.alumni'])
X_train6

,Enroll,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Personal,PhD,Terminal,S.F.Ratio,Expend,Grad.Rate
Abilene Christian University,721,52,2885,537,7440,3300,2200,70,78,18.1,7041,60
Adelphi University,512,29,2683,1227,12280,6450,1500,29,30,12.2,10527,56
Adrian College,336,50,1036,99,11250,3750,1165,53,66,12.9,8735,54
Agnes Scott College,137,89,510,63,12960,5450,875,92,97,7.7,19016,59
Alaska Pacific University,55,44,249,869,7560,4120,1500,76,72,11.9,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...
Worcester State College,543,26,3089,2029,6797,3900,1200,60,60,21.0,4469,40
Xavier University,695,47,2849,1107,11520,4960,1250,73,75,13.3,9189,83
Xavier University of Louisiana,695,61,2793,166,6900,4200,781,67,75,14.4,8323,49
Yale University,1317,99,5217,83,19840,6510,2115,96,96,5.8,40386,99
York College of Pennsylvania,691,63,2988,1726,4990,3560,1250,75,75,18.1,4509,99

In [133]:
kmeans = kmeans.fit(X_train6)
predictions = kmeans.predict(X_train6)
ac6 = accuracy_score(y,predictions)
print(ac6)

0.5521235521235521

c:\Users\chunl\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [138]:
X_train7 = X_train6.drop(columns=['Expend'])
X_train7

,Enroll,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Personal,PhD,Terminal,S.F.Ratio,Grad.Rate
Abilene Christian University,721,52,2885,537,7440,3300,2200,70,78,18.1,60
Adelphi University,512,29,2683,1227,12280,6450,1500,29,30,12.2,56
Adrian College,336,50,1036,99,11250,3750,1165,53,66,12.9,54
Agnes Scott College,137,89,510,63,12960,5450,875,92,97,7.7,59
Alaska Pacific University,55,44,249,869,7560,4120,1500,76,72,11.9,15
...,...,...,...,...,...,...,...,...,...,...,...
Worcester State College,543,26,3089,2029,6797,3900,1200,60,60,21.0,40
Xavier University,695,47,2849,1107,11520,4960,1250,73,75,13.3,83
Xavier University of Louisiana,695,61,2793,166,6900,4200,781,67,75,14.4,49
Yale University,1317,99,5217,83,19840,6510,2115,96,96,5.8,99
York College of Pennsylvania,691,63,2988,1726,4990,3560,1250,75,75,18.1,99

In [139]:
kmeans = kmeans.fit(X_train7)
predictions = kmeans.predict(X_train7)
ac7 = accuracy_score(y,predictions)
print(ac7)

0.8545688545688546

c:\Users\chunl\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [158]:
X_train8 = X_train7.drop(columns=['Room.Board'])
X_train8

,Enroll,Top25perc,F.Undergrad,P.Undergrad,Outstate,Personal,PhD,Terminal,S.F.Ratio,Grad.Rate
Abilene Christian University,721,52,2885,537,7440,2200,70,78,18.1,60
Adelphi University,512,29,2683,1227,12280,1500,29,30,12.2,56
Adrian College,336,50,1036,99,11250,1165,53,66,12.9,54
Agnes Scott College,137,89,510,63,12960,875,92,97,7.7,59
Alaska Pacific University,55,44,249,869,7560,1500,76,72,11.9,15
...,...,...,...,...,...,...,...,...,...,...
Worcester State College,543,26,3089,2029,6797,1200,60,60,21.0,40
Xavier University,695,47,2849,1107,11520,1250,73,75,13.3,83
Xavier University of Louisiana,695,61,2793,166,6900,781,67,75,14.4,49
Yale University,1317,99,5217,83,19840,2115,96,96,5.8,99
York College of Pennsylvania,691,63,2988,1726,4990,1250,75,75,18.1,99

In [159]:
kmeans = kmeans.fit(X_train8)
predictions = kmeans.predict(X_train8)
ac8 = accuracy_score(y,predictions)
print(ac8)

0.8545688545688546

c:\Users\chunl\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [168]:
X_train9 = X_train8.drop(columns=['S.F.Ratio'])
X_train9

,Enroll,Top25perc,F.Undergrad,P.Undergrad,Outstate,Personal,PhD,Terminal,Grad.Rate
Abilene Christian University,721,52,2885,537,7440,2200,70,78,60
Adelphi University,512,29,2683,1227,12280,1500,29,30,56
Adrian College,336,50,1036,99,11250,1165,53,66,54
Agnes Scott College,137,89,510,63,12960,875,92,97,59
Alaska Pacific University,55,44,249,869,7560,1500,76,72,15
...,...,...,...,...,...,...,...,...,...
Worcester State College,543,26,3089,2029,6797,1200,60,60,40
Xavier University,695,47,2849,1107,11520,1250,73,75,83
Xavier University of Louisiana,695,61,2793,166,6900,781,67,75,49
Yale University,1317,99,5217,83,19840,2115,96,96,99
York College of Pennsylvania,691,63,2988,1726,4990,1250,75,75,99

In [169]:
kmeans = kmeans.fit(X_train9)
predictions = kmeans.predict(X_train9)
ac9 = accuracy_score(y,predictions)
print(ac9)

0.8545688545688546

c:\Users\chunl\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [186]:
X_train0 = X_train9.drop(columns=['Grad.Rate'])
X_train0

,Enroll,Top25perc,F.Undergrad,P.Undergrad,Outstate,Personal,PhD,Terminal
Abilene Christian University,721,52,2885,537,7440,2200,70,78
Adelphi University,512,29,2683,1227,12280,1500,29,30
Adrian College,336,50,1036,99,11250,1165,53,66
Agnes Scott College,137,89,510,63,12960,875,92,97
Alaska Pacific University,55,44,249,869,7560,1500,76,72
...,...,...,...,...,...,...,...,...
Worcester State College,543,26,3089,2029,6797,1200,60,60
Xavier University,695,47,2849,1107,11520,1250,73,75
Xavier University of Louisiana,695,61,2793,166,6900,781,67,75
Yale University,1317,99,5217,83,19840,2115,96,96
York College of Pennsylvania,691,63,2988,1726,4990,1250,75,75

In [187]:
kmeans = kmeans.fit(X_train0)
predictions = kmeans.predict(X_train0)
ac0 = accuracy_score(y,predictions)
print(ac0)

0.8545688545688546

c:\Users\chunl\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)